body {
    background: #111;
    font-family: Arial;
    color: #fff;
    text-align: center;
}

.card {
    width: 320px;
    margin: 80px auto;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

.photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: -60px;
    border: 5px solid #fff;
}
